<a href="https://colab.research.google.com/github/Marcos314/TCC_2020/blob/master/transform_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Transformação do dataset tarbase_data.csv
- Selecionar apenas as espécies de interesse
- Adcionar uma coluna com as sequencias de cada mirna

In [ ]:
# Import
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/My Drive/TCC - 2020/tarbase_data.csv', sep='\t')

In [ ]:
df.shape

(649378, 12)

In [ ]:
df.head()

          geneId       geneName  ... up_down condition
0  0910001A06Rik  0910001A06Rik  ...      UP       NaN
1  1200004M23Rik  1200004M23Rik  ...    DOWN       NaN
2  1700027J05Rik  1700027J05Rik  ...      UP       NaN
3  1810015A11Rik  1810015A11Rik  ...    DOWN       NaN
4  2310047A01Rik  2310047A01Rik  ...    DOWN       NaN

[5 rows x 12 columns]

In [ ]:
# Filtrando as 5 espécies observadas
df = df.loc[df['species'].isin(['Arabidopsis thaliana','Oryza sativa','Zea mays','Medicago truncatula','Vitis vinifera'])]

In [ ]:
df.shape

(2660, 12)

In [ ]:
df.head()

                geneId            geneName  ... up_down condition
51  AC233070_21.1(mtr)  AC233070_21.1(mtr)  ...    DOWN       NaN
52  AC233070_21.1(mtr)  AC233070_21.1(mtr)  ...    DOWN       NaN
53  AC233100_46.1(mtr)  AC233100_46.1(mtr)  ...    DOWN       NaN
54  AC233680_24.1(mtr)  AC233680_24.1(mtr)  ...    DOWN       NaN
55   AC233685_3.1(mtr)   AC233685_3.1(mtr)  ...    DOWN       NaN

[5 rows x 12 columns]

In [ ]:
# Eliminando algumas colunas
df = df.drop(columns=['category','method','positive_negative','direct_indirect','up_down','condition','cell_line','tissue'])
df.head()

                geneId            geneName           mirna              species
51  AC233070_21.1(mtr)  AC233070_21.1(mtr)  mtr-miR396a-5p  Medicago truncatula
52  AC233070_21.1(mtr)  AC233070_21.1(mtr)  mtr-miR396b-5p  Medicago truncatula
53  AC233100_46.1(mtr)  AC233100_46.1(mtr)  mtr-miR1507-3p  Medicago truncatula
54  AC233680_24.1(mtr)  AC233680_24.1(mtr)    mtr-miR2643a  Medicago truncatula
55   AC233685_3.1(mtr)   AC233685_3.1(mtr)     mtr-miR159a  Medicago truncatula

In [ ]:
df.shape

(2660, 4)